<div class="col-4">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-12">
        <img src="{{ images }}" class="card-img-top" alt="product image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product_name }}</h5>
          <p class="card-text">{{ product_description }}</p>
          <h4 class="text-body-secondary">${{ price }}</h4>
          <a id="{{id}}" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>