<h1>Your Shopping Cart</h1>
<ul>
  {{#each cartProducts}}
    <li>
      <h2>{{product_name}}</h2>
      <p>{{product_description}}</p>
      <p>Price: ${{price}}</p>
      <div>
        <input type="hidden" id="product-id" name="product" value="{{id}}">
        <button id="{{id}}" type="submit" class="btn btn-primary remove-button">Remove From Cart</button>
      </div>
    </li>
  {{/each}}
</ul>
<form id="checkout-form">
  <button id="checkoutBtn" type="submit" class="btn btn-primary">Checkout</button>
</form>

