<div class="container mt-5">
    <div class="card" style="width: 25rem;">
        <h5 class="card-header">Account Details</h5>
        <div class="card-body">
            <h5 class="card-title">Name: {{ user_name }}</h5>
            <p class="card-text">Address: {{ address }}</p>
            <p class="card-text">Phone: {{ phone }}</p>
            <a href="/edit-user" class="card-link"><button>Edit Details</button></a>
            <a href="/" class="card-link"><button id="deleteBtn">Delete Account</button></a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card" style="width: 10rem;">
        <h5 class="card-header">Order History</h5>
    </div>
</div>
{{> orderHistory this}}

<div class="container mt-5">
    <h5 class="header mb-4">Orders</h5>
    <div class="card" style="width: 50rem;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>{{ orderNumber }}</h5>
            <h5 class="card-summary">{{ ordertotal }}</h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ order items }}</li>
                <li class="list-group-item">{{ order items }}</li>
            </ul>
            <p class="card-text"> </p>
        </div>
    </div>
    <div class="card mt-4" style="width: 50rem;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>{{ orderNumber }}</h5>
            <h5 class="card-summary">{{ ordertotal }}</h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ order items }}</li>
                <li class="list-group-item">{{ order items }}</li>
            </ul>
            <p class="card-text"> </p>
        </div>
    </div>
</div>